@import 'tailwindcss';
@config "../tailwind.config.js";
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  margin: 0;
  padding: 0;
  background-color: transparent !important;
}

#root {
  height: 100vh;
  width: 100vw;
  user-select: none;
  overflow: hidden;
  background-color: transparent !important;
}

.spotlight-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  position: relative;
  display: block;
  height: 1.5rem;
  width: 3rem;
  background-color: #d1d5db;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.toggle-label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #fff;
  border-radius: 9999px;
  transform: translateX(0%);
  transition: transform 0.2s ease-in-out;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #4f46e5;
}

.toggle-checkbox:checked + .toggle-label:before {
  transform: translateX(100%);
}
